<div class="bg-card-background w-full h-28 rounded-3xl p-2 overflow-hidden">
    <div class="inline-flex">
        <img 
        src="{{url}}"
        alt=""
        class="object-cover rounded-3xl h-24 w-24"
        >
        <div class="block place-self-center ml-5">
            <p class="text-heading-text text-lg">{{name}}</p>
            <div class="inline-flex mt-2">
                <i class="fa-solid fa-calendar text-secondary place-self-center"></i>
                <p class="text-sm text-body-text place-self-center ml-2 thin">16 Apr - 20 Apr</p>
            </div>
        </div>
    </div>
</div>