<div class="bg-card-background w-full h-28 rounded-3xl p-2 overflow-hidden">
    <div class="inline-flex">
        <img 
        src="https://images.unsplash.com/photo-1531761535209-180857e963b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"
        alt=""
        class="object-cover rounded-3xl h-24 w-24"
        >
        <div class="block place-self-center ml-5">
            <p class="text-heading-text text-lg">El Nido</p>
            <div class="inline-flex mt-2">
                <i class="fa-solid fa-calendar text-secondary place-self-center"></i>
                <p class="text-sm text-body-text place-self-center ml-2">16 Apr - 20 Apr</p>
            </div>
        </div>
    </div>
</div>