<div class="rounded-3xl bg-card-background flex flex-col h-80 w-full">
    <div class="p-2">
        <img 
            src="{{url}}"
            alt=""
            class="h-48 w-full object-cover rounded-3xl max-w-[251px]">
        <!-- card information -->
        <div class="">
            <div class="py-3 px-2">
                <p class="text-heading-text text-xl">
                    {{name}}
                </p>
            </div>
        </div>
    </div>
    <span class="border-t border-heading-text"></span>
    <div class="bg-primary flex-grow rounded-b-3xl inline-flex px-4">
        <p class="text-background text-sm place-self-center">Starting at</p>
        <span class="m-auto"></span>
        <p class="place-self-center text-lg">${{price}}</p>
    </div>
</div>