<div class="rounded-3xl bg-card-background flex flex-col h-80 w-72">
    <div class="p-2">
        <img 
            src="https://images.unsplash.com/photo-1537996194471-e657df975ab4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=738&q=80"
            alt=""
            class="h-48 w-full object-cover rounded-3xl">
        <!-- card information -->
        <div class="">
            <div class="py-3 px-2">
                <p class="text-heading-text text-xl">
                    Bali
                </p>
            </div>
        </div>
    </div>
    <span class="border-t border-heading-text"></span>
    <div class="bg-primary flex-grow rounded-b-3xl inline-flex px-4">
        <p class="text-background text-sm place-self-center">Starting at</p>
        <span class="m-auto"></span>
        <p class="place-self-center text-lg">$19,600</p>
    </div>
</div>