<div class="p-5 flex flex-col h-full">
    <div class="w-full h-14 place-content-center">
      <h1 class="text-primary place-self-center">Fox Travels</h1>
    </div>
    <ul>
      <li class="inline-flex px-4 py-2 w-full rounded-md bg-primary text-background hover:cursor-pointer my-2">
        <i class="fa-solid fa-table place-self-center"></i>
        <p class="ml-4 text-sm">Dashboard</p>
      </li>
      <li class="inline-flex px-4 py-2 w-full rounded-md hover:bg-[#D1F366] hover:text-background hover:cursor-pointer text-heading-text  my-2">
        <i class="fa-solid fa-ticket place-self-center"></i>
        <p class="ml-4 text-sm">My Tickets</p>
      </li>
      <li class="inline-flex px-4 py-2 w-full rounded-md hover:bg-[#D1F366] hover:text-background hover:cursor-pointer text-heading-text  my-2">
        <i class="fa-solid fa-bookmark place-self-center"></i>
        <p class="ml-4 text-sm">Favorites</p>
      </li>
      <li class="inline-flex px-4 py-2 w-full rounded-md hover:bg-[#D1F366] hover:text-background hover:cursor-pointer text-heading-text  my-2">
        <i class="fa-solid fa-message place-self-center"></i>
        <p class="ml-4 text-sm">Messages</p>
      </li>
      <li class="inline-flex px-4 py-2 w-full rounded-md hover:bg-[#D1F366] hover:text-background hover:cursor-pointer text-heading-text  my-2"> 
        <i class="fa-solid fa-wallet place-self-center"></i>
        <p class="ml-4 text-sm">Transaction</p>
      </li>
      <li class="inline-flex px-4 py-2 w-full rounded-md hover:bg-[#D1F366] hover:text-background hover:cursor-pointer text-heading-text  my-2">
        <i class="fa-solid fa-gear place-self-center"></i>
        <p class="ml-4 text-sm">Settings</p>
      </li>
      <li class="inline-flex px-4 py-2 w-full rounded-md hover:bg-[#D1F366] hover:text-background hover:cursor-pointer text-heading-text  my-2">
        <i class="fa-solid fa-right-from-bracket place-self-center"></i>
        <p class="ml-4 text-sm">Logout</p>
      </li>
    </ul>
    
    <div class="bg-white w-full h-52 rounded-3xl mt-auto px-3 py-5 flex flex-col">
      <h1 class="text-body-text text-lg mb-2">50% Discount</h1>
      <p class="text-body-text text-sm">Get a discound on certain days and don't miss it.</p>
      <span class="m-auto"></span>
      <button class="w-8 h-8 rounded-full text-white bg-secondary mb-5">
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
</div>