<div class="p-5 flex flex-col h-full dashboard">
    <div class="w-full h-14 place-content-center mt-2 mb-5">
      <h1 class="text-primary text-center text-2xl font-montserrat">Fox Travels</h1>
    </div>
    <ul>
      <li class="inline-flex px-4 py-3 w-full rounded-xl bg-primary font-bold text-background hover:cursor-pointer hover:font-bold my-3">
        <div class="place-self-center w-6">
          <i class="fa-solid fa-table text-lg"></i>
        </div>
        <div class="place-self-center">
          <p class="ml-4 text-sm thin">Dashboard</p>
        </div>
      </li>
      <li class="inline-flex px-4 py-3 w-full rounded-xl hover:bg-[#D1F366] hover:text-background hover:cursor-pointer text-heading-text hover:font-bold my-3">
        <div class="place-self-center w-6">
          <i class="fa-solid fa-ticket text-lg"></i>
        </div>
        <div class="place-self-center">
          <p class="ml-4 text-sm thin">My Tickets</p>
        </div>
      </li>
      <li class="inline-flex px-4 py-3 w-full rounded-xl hover:bg-[#D1F366] hover:text-background hover:cursor-pointer text-heading-text hover:font-bold my-3">
        <div class="place-self-center w-6">
          <i class="fa-solid fa-bookmark text-lg"></i>
        </div>
        <div class="place-self-center">
          <p class="ml-4 text-sm thin">Favorites</p>
        </div>
      </li>
      <li class="inline-flex px-4 py-3 w-full rounded-xl hover:bg-[#D1F366] hover:text-background hover:cursor-pointer text-heading-text hover:font-bold my-3">
        <div class="place-self-center w-6">
          <i class="fa-solid fa-message text-lg"></i>
        </div>
        <div class="place-self-center">
          <p class="ml-4 text-sm thin">Messages</p>
        </div>
      </li>
      <li class="inline-flex px-4 py-3 w-full rounded-xl hover:bg-[#D1F366] hover:text-background hover:cursor-pointer text-heading-text hover:font-bold my-3"> 
        <div class="place-self-center w-6">
          <i class="fa-solid fa-wallet text-lg"></i>
        </div>
        <div class="place-self-center">
          <p class="ml-4 text-sm thin">Transaction</p>
        </div>
      </li>
      <li class="inline-flex px-4 py-3 w-full rounded-xl hover:bg-[#D1F366] hover:text-background hover:cursor-pointer text-heading-text hover:font-bold my-3">
        <div class="place-self-center w-6">
          <i class="fa-solid fa-gear text-lg"></i>
        </div>
        <div class="place-self-center">
          <p class="ml-4 text-sm thin">Settings</p>
        </div>
      </li>
    </ul>
    <div class="bg-white w-full h-52 rounded-3xl px-4 py-5 flex flex-col">
      <h1 class="text-card-background text-lg mb-2">50% Discount!</h1>
      <p class="text-body-text text-md thin">Get a discount on certain days and don't miss it.</p>
      <span class="m-auto"></span>
      <div class="inline-flex">
        <button class="w-8 h-8 rounded-full text-white bg-secondary mb-5 outline-none place-self-end">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
        <span class="m-auto"></span>
        <div class="bg-calendar"></div>
      </div>
    </div>
    <div class="mt-auto inline-flex px-4 py-3 w-full rounded-xl hover:bg-[#D1F366] hover:text-background hover:cursor-pointer text-heading-text hover:font-bold my-3">
      <div class="place-self-center w-6">
        <i class="fa-solid fa-right-from-bracket text-lg"></i>
      </div>
      <div class="place-self-center">
        <p class="ml-4 text-sm thin">Logout</p>
      </div>
    </div>
</div>