<div class="rounded-3xl bg-card-background flex flex-row h-40 w-full px-4 max-w-[326px] min-w-[326px]">
    <div class="place-self-center">
        <img 
            src="{{url}}"
            alt=""
            class="object-cover rounded-3xl h-32 w-32">
    </div>
    <div class="place-self-center ml-4">
        <div class="flex flex-col w-full">
            <p class="text-heading-text text-xl mb-1">{{name}}</p>
            <div class="inline-flex mb-2">
                <i class="fa-solid fa-location-pin text-secondary place-self-center">&nbsp;</i>
                <p class="text-body-text text-sm">{{location}}</p>
            </div>
            <div class="inline-flex my-2">
                <p class="text-primary">$ {{price}}&nbsp;</p> 
                <p class="text-body-text">/&nbsp;day</p>
            </div>
        </div>
    </div>
</div>