<div class="rounded-3xl bg-card-background flex flex-row h-40 w-full px-4">
    <div class="place-self-center">
        <img 
            src="https://images.unsplash.com/photo-1602216056096-3b40cc0c9944?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80"
            alt=""
            class="object-cover rounded-3xl h-32 w-32">
    </div>
    <div class="place-self-center ml-4">
        <div class="flex flex-col w-full">
            <p class="text-heading-text text-xl mb-1">Kerala</p>
            <div class="inline-flex mb-2">
                <i class="fa-solid fa-location-pin text-secondary place-self-center">&nbsp;</i>
                <p class="text-body-text text-sm">India</p>
            </div>
            <div class="inline-flex my-2">
                <p class="text-primary">$ 248&nbsp;</p> 
                <p class="text-body-text">/&nbsp;day</p>
            </div>
        </div>
    </div>
</div>