<div class="container w-full">
  <div class="grid grid-rows-6 grid-cols-12 max-h-[100vh] h-[100vh] bg-[#141627] overflow-hidden">
    <div class="row-span-6 col-span-2">
      <div class="p-5">
        <div class="w-full h-14 place-content-center">
          <h1 class="text-default place-self-center">Fox Travels</h1>
        </div>
        <ul>
          <li class="inline-flex px-4 py-2 w-full rounded-md hover:bg-[#D1F366] hover:text-secondary hover:cursor-pointer text-primary my-2">
            <i class="fa-solid fa-table place-self-center"></i>
            <p class="ml-4 text-sm">Dashboard</p>
          </li>
          <li class="inline-flex px-4 py-2 w-full rounded-md hover:bg-[#D1F366] hover:text-secondary hover:cursor-pointer text-primary  my-2">
            <i class="fa-solid fa-ticket place-self-center"></i>
            <p class="ml-4 text-sm">My Tickets</p>
          </li>
          <li class="inline-flex px-4 py-2 w-full rounded-md hover:bg-[#D1F366] hover:text-secondary hover:cursor-pointer text-primary  my-2">
            <i class="fa-solid fa-bookmark place-self-center"></i>
            <p class="ml-4 text-sm">Favourites</p>
          </li>
          <li class="inline-flex px-4 py-2 w-full rounded-md hover:bg-[#D1F366] hover:text-secondary hover:cursor-pointer text-primary  my-2">
            <i class="fa-solid fa-message place-self-center"></i>
            <p class="ml-4 text-sm">Messages</p>
          </li>
          <li class="inline-flex px-4 py-2 w-full rounded-md hover:bg-[#D1F366] hover:text-secondary hover:cursor-pointer text-primary  my-2"> 
            <i class="fa-solid fa-wallet place-self-center"></i>
            <p class="ml-4 text-sm">Transaction</p>
          </li>
          <li class="inline-flex px-4 py-2 w-full rounded-md hover:bg-[#D1F366] hover:text-secondary hover:cursor-pointer text-primary  my-2">
            <i class="fa-solid fa-gear place-self-center"></i>
            <p class="ml-4 text-sm">Settings</p>
          </li>
          <li class="inline-flex px-4 py-2 w-full rounded-md hover:bg-[#D1F366] hover:text-secondary hover:cursor-pointer text-primary  my-2">
            <i class="fa-solid fa-right-from-bracket place-self-center"></i>
            <p class="ml-4 text-sm">Logout</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-span-6 col-span-10">2</div>
  </div>
</div>