<div class="flex flex-col scrollable">
    <!-- Navigation Container -->
    <div class="inline-flex w-full my-5">
      <!-- Search -->
      <div class="bg-card-background rounded-xl">
        <i class="fa-solid fa-magnifying-glass text-body-text pl-6"></i>
        <input type="text" class="border-none bg-transparent outline-none text-heading-text w-[275px] ml-2 py-4 px-4 text-xs thin" placeholder="Search for your favorite destination">
        <button class="px-5 py-4 text-background bg-primary text-sm rounded-xl">Search</button>
      </div>
      <span class="mx-10"></span>
      <!-- Bell Notification -->
      <button class="flex bg-card-background py-2 px-4 rounded-full w-fit before:content-[''] before:absolute before:w-3 before:h-3 before:bg-secondary before:rounded-full before:ml-6 before:mt-[-8px] hover:cursor-pointer">
        <span class="material-symbols-outlined place-self-center text-2xl text-body-text">
          notifications
        </span>
      </button>
    </div>
    <!-- Welcome Message -->
    <div class="mt-5">
      <p class="text-4xl text-heading-text">Hello Anni!</p>
      <p class="text-body-text mt-2 thin">Welcome back and explore the world</p>
    </div>
    <!-- Easy Destination -->
    <!-- Fix Something here, bug on zooming in, card is not properly implemented -->
    <div class="h-1/3 mt-5">
      <div class="inline-flex w-full mb-4">
        <p class="text-heading-text text-2xl">Easy Visa Destinations</p>
        <span class="m-auto"></span>
        <a href="" class="text-primary text-sm place-self-center">View All</a>
      </div>
      <div class="inline-flex w-full gap-2">
        <!-- Cards -->
        <!-- Easy Visa Destinations -->
        <div class="flex-grow">
          <app-image-card [url]="image1" [name]="name1" [price]="price1" [active]=true></app-image-card>
        </div>
        <span class="m-auto"></span>
        <div class="flex-grow">
          <app-image-card [url]="image2" [name]="name2" [price]="price2" [active]=false></app-image-card>
        </div>
        <span class="m-auto"></span>
        <div class="flex-grow">
          <app-image-card [url]="image3" [name]="name3" [price]="price3" [active]=false></app-image-card>
        </div>
        <span class="m-auto"></span>
        <div class="flex-grow">
          <app-image-card [url]="image4" [name]="name4" [price]="price4" [active]=false></app-image-card>
        </div>
      </div>
    </div>
    <div class="">
      <div class="inline-flex w-full my-5">
        <a href="" class="text-heading-text text-2xl">Most Popular</a>
        <a href="" class="text-body-text text-2xl mx-10 thin">Special Offers</a>
        <a href="" class="text-body-text text-2xl thin">Near Me</a>
      </div>
      <div class="flex flex-wrap gap-2 w-full">
        <div class="flex-grow">
          <app-horizontal-card [url]="image5" [name]="name5" [location]="location5" [price]="price5"></app-horizontal-card>
        </div>
        <div class="flex-grow">
          <app-horizontal-card [url]="image6" [name]="name6" [location]="location6" [price]="price6"></app-horizontal-card>
        </div>
        <div class="flex-grow">
          <app-horizontal-card [url]="image7" [name]="name7" [location]="location7" [price]="price7"></app-horizontal-card>
        </div>
        <div class="flex-grow">
          <app-horizontal-card [url]="image8" [name]="name8" [location]="location8" [price]="price8"></app-horizontal-card>
        </div>
        <div class="flex-grow">
          <app-horizontal-card [url]="image9" [name]="name9" [location]="location9" [price]="price9"></app-horizontal-card>
        </div>
        <div class="flex-grow">
          <app-horizontal-card [url]="image10" [name]="name10" [location]="location10" [price]="price10"></app-horizontal-card>
        </div>
      </div>
    </div>
</div>