<div class="p-5">
    <!-- profile -->
    <div class="inline-flex h-12">
        <img class="rounded-full bg-cover max-w-[50px] max-h-[50px] place-self-center" src="../../assets/woman.png" alt="" width="50" height="50">
        <div class="block place-self-center ml-3">
            <p class="text-heading-text text-lg">Mich</p>
            <p class="text-body-text text-sm">Traveler Pro</p>
        </div>
        <span class="place-self-center ml-3">
            <i class="fa-solid fa-chevron-down text-body-text"></i>
        </span>
    </div>
    <!-- calendar -->
    <div class="w-full h-72 rounded-3xl bg-card-background p-2 mt-7">
        calendar here
    </div>
    <!-- Booking -->
    <div class="bookings mt-5">
        <div class="inline-flex w-full px-3">
            <p class="text-heading-text text-2xl">Bookings</p>
            <span class="m-auto"></span>
            <a href="" class="text-primary text-sm place-self-center">View All</a>
        </div>
        <!-- list of bookings -->
        <div class="mt-5">
            <ul>
                <li>
                    <p class="book-year text-heading-text px-3">2022</p>
                    <div>
                        <ul>
                            <li class="py-2">
                                <app-booking-card [url]="url1" [name]="name1"></app-booking-card>
                            </li>
                            <li class="py-2">
                                <app-booking-card [url]="url2" [name]="name2"></app-booking-card>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <p class="book-year text-heading-text px-3">2021</p>
                    <div>
                        <ul>
                            <li class="py-2">
                                <app-booking-card [url]="url3" [name]="name3"></app-booking-card>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>